
html, body {
	background: #fafafa;
	font-size:14px;
	
	font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;

	max-width:100%; overflow-x:hidden;
}

body * {
	box-sizing: border-box;
}

#loader {
	margin:10vh 0;
	text-align: center;
	font-size: 2rem;
}

#edit {
	max-width: 700px;
	overflow:hidden;
	width: 100%;
}

#edit input[name="title"] {
	border: 0;
	// border-bottom: 1px solid #333;
	border-left: 2px solid #ddd;
	border-radius: 0;
	font-size:1.5rem;
	opacity:0.7;
}

#edit input[name="title"]:focus {
	// border-bottom: 2px solid #333;
	border-left: 3px solid #ddd;
	margin-left: -1px;
	opacity:1;
}
#edit input[name="author_name"] {
	border: 0;
	// border-bottom: 1px solid #333;
	border-left: 2px solid #ddd;
	border-radius: 0;
	font-size:1.1rem;
	opacity:0.7;
}

#edit input[name="author_name"]:focus {
	// border-bottom: 2px solid #333;
	border-left: 3px solid #ddd;
	margin-left: -1px;
	opacity:1;
}

#editor {
	resize: none;
	border-radius:0;
	border:0;
	border-left: 2px solid #ddd;
	
	min-height: calc(100vh - 400px);

	padding:10px 15px;
	opacity:0.7;
}
#editor:focus, #editor:active {
	// border-bottom: 2px solid #333;
	border-left: 3px solid #ddd;
	margin-left: -1px;
	box-shadow: none;
	outline: none;
	opacity:1;
}


#edit input[type="submit"] {
	float: right;
	
	padding:5px 30px;
	
	margin: 20px 40px 15px 30px;
	line-height: 0;

	font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size:1rem;
	color: #000;
	text-decoration: none;
	border: 2px solid #333;
	border-radius: 30px;
	text-transform: uppercase;
	// padding: 4px 12px;
	background-color: #fff;
	cursor: pointer;
	opacity: 0.7;
}

#edit input[type="submit"]:hover {
	opacity: 1;
}

#edit input[type="submit"] {
	
}
#edit input[type="text"]:valid {
	border-left-color: #bce4bc;
}


#your_address {
	max-width: 80%; white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#view .title {
	margin-bottom: 0;
}
#view .author {
	font-style:normal;
	margin:10px 0 0 0px;
}